
@model Pages.Groups.UserAssignationModel
@{
    var selector = string.Empty;
    var button = string.Empty;
}

@if(Model.Users.Count > 0)
{    


        <div class="container user-entities">
        <h3 class="text-center display-4">Search results</h3>
  
        <div class="row border border-dark bg-light" id="heading">
            <div class="col-3 border border-dark">Email</div>
            <div class="col-3 border border-dark">First name</div>
            <div class="col-3 border border-dark">Last name</div>
            <div class="col-3 border border-dark">Is selected</div>
        </div>

            
            <form method="post">
                
                <div id="userList">

                @for(int i = 0; i < Model.Users.Count; i++)
                {    
                    selector = $"selector{i}";
                    button = $"button{i}";
                    <div class="row" >
                   <div class="col border-dark bg-light form-group">

                        <input asp-for="@Model.Users[i].Email" readonly class="form-control bg-light border-0" />
                     </div>
                   <div class="col border-dark bg-light form-group">
                        
                        <input asp-for="@Model.Users[i].FirstName" readonly class="form-control bg-light border-0" />
                     </div>
                   <div class="col border-dark bg-light form-group">

                        <input asp-for="@Model.Users[i].LastName" readonly class="form-control bg-light border-0" />
                     </div>
                    <div class="col border-dark bg-light form-group d-flex flex-row justify-content-around align-items-center" id="userCheck">
                        <input type="checkbox" asp-for="@Model.Users[i].IsSelected" id="@selector"/>  
                        <input type="hidden" asp-for="@Model.Users[i].Id"/>
                        <input type="submit" value="Assign" id="@button" asp-route-id="@Model.Group.Id" class="btn btn-primary pt-0 pb-0"/>
                    </div>   
                    
                    </div>
                }
                
                </div>
            <input type="submit" value="Assign" id="btnAssign" asp-route-id="@Model.Group.Id" class="btn btn-primary mt-2"/>
            </form>
            </div>       
}
else
{
    <div class="alert alert-danger">
        No users found with specified name.
    </div>
}


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $('#userCheck input[type=submit]').each(function(index) {
        $('#button' + index).on('mouseenter', function (){
            $('#selector'+ index ).prop('checked', true);
        });
         $('#button' + index).on('mouseleave', function (){
            $('#selector'+ index ).prop('checked', false);
        });
    });
        
    
</script>