@page
@model LMS.Pages.Groups.GroupListModel

@{
    ViewData["Title"] = "GroupList";
}

<h1>GroupList</h1>

<p>
    <a class="btn btn-primary" asp-page="./CreateGroup">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Groups[0].Name)
            </th>
            <th class="text-center">
                Options
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Groups) {
        <tr>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="d-flex flex-row justify-content-center align-items-center">
                <a class="btn btn-primary me-1" asp-page="./AssignUserToGroup" asp-route-id="@item.Id">Assign user</a> |
                <a class="btn btn-secondary mx-1" asp-page="./DeassignUserFromGroup" asp-route-groupId="@item.Id">Deassign user</a> |
                <a class="btn btn-success mx-1" asp-page="./EditGroup" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-danger ms-1" asp-page="./DeleteGroup" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
