@page
@model LMS.Pages.Activities.QuizDetailsModel

@{
    ViewData["Title"] = "QuizActivity";
}
<div class="d-flex flex-row justify-content-between align-items-center p-3">
    <h1>@Html.DisplayFor(model => model.Activity.Name)</h1>
    <a asp-page="./QuizQuestionsList" asp-route-activityid="@Model.Activity.Id" class="h-75 mx-2 btn btn-primary">Add questions</a>
    <a asp-page="./ActivityUserResponses" asp-route-activityid="@Model.Activity.Id" asp-route-courseId="@Model.Course.Id" class="h-75 btn btn-primary">Student results</a>
</div>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.Details)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.Details)
        </dd>
         @if(Model.Activity.StartTime != null)
        {
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.StartTime)
        </dt> 
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.StartTime)
        </dd>
        }
         @if(Model.Activity.EndTime != null)
        {
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.EndTime)
        </dd>
        }    
        @if(Model.UserResponse.EarnedPoints == null)
        {
        <dt class="col-sm-2">
            Points to get
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.Points)
            </dd>
        } else if(Model.UserResponse.EarnedPoints != null)
        {
        <dt class="col-sm-2">
            Points to get
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserResponse.EarnedPoints)/@Html.DisplayFor(model => model.Activity.Points)
        </dd>
        }
    </dl>
</div>
    @if(Model.Activity.StartTime < DateTime.Now && Model.Activity.EndTime > DateTime.Now && Model.UserResponse.Status != ActivityStatus.QuizEnded)
    {
    <a asp-page="./QuizUserStart" asp-route-activityId="@Model.Activity.Id" class="btn btn-primary">Start quiz</a>
}
else
{
    <button type="button" class="btn btn-secondary" disabled>Start quiz</button>
}

   
<div>
     <a href='javascript:history.go(-1)'>Back to course</a>
</div>
