@page
@model LMS.Pages.Activities.QuizAddQuestionsModel
@{
}


    
<div class="questions-list container" id="questionItemsContainer">
    <form method="post">
        <div class="form-group">
            <label class="control-label mt-2">Question content</label>
            <input asp-for="@Model.Question.Content" class="form-control" />
            <input type="hidden" asp-for="@Model.Activity.Id" />
        </div>
        @for(int i = 0;  i<Model.Answers.Count; i++)
        {
            <div class="form-group d-flex flex-row">
                <div>
                    <label class="control-label">Answer content</label>
                    <input asp-for="@Model.Answers[i].Content" class="form-control" />
                </div>
                <div class="col-md-8 d-flex align-items-center">
                    <input type="radio" name="@Model.Question.Id" value="@Model.Answers[i].IsCorrect" />
                    
                    <label asp-for="@Model.Answers[i].IsCorrect" class="control-label"></label>
                    
                </div>
                           
            </div>
        }
        <input type="submit" value="Create" class="btn btn-primary mt-2 mb-2" />
    </form>
</div>


<a class="btn btn-primary m-2" asp-page="./QuizQuestionsList" asp-route-activityId="@Model.Activity.Id">Back to activity</a>



