@page
@model LMS.Pages.Admin.IndexModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p class="mb-0">
    <a class="btn btn-primary" asp-page="CreateCourse">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].PasswordHash)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Course) {
            <tr>
            <td>
                @{
                    var fullName = item.Author.FirstName + item.Author.LastName;
                    if (string.IsNullOrEmpty(fullName)) 
                        fullName = "nieznany";
                }
                @fullName
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a class="btn btn-warning" asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-warning" asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a class="btn btn-danger text-light " asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
