@page
@model LMS.Pages.Courses.CourseListModel
@{
}

<p class="mb-0">
    <a class="btn btn-primary" asp-page="../Courses/CreateCourse">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Courses[0].Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses[0].PasswordHash)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Courses) {
            <tr>
            <td>
                @{
                    var fullName = item.Author?.FirstName + " " + item.Author?.LastName;
                    if (string.IsNullOrEmpty(fullName)) 
                        fullName = "nieznany";
                }
                @fullName
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a class="btn btn-success" asp-page="../Courses/EditCourse" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-warning" asp-page="../Courses/DetailsCourse" asp-route-courseId="@item.Id">Details</a> |
                <a class="btn btn-danger text-light " asp-page="../Courses/DeleteCourse" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>