@page
@model LMS.Pages.Courses.CourseUsersModel
@{
}
 <table class="table">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                E-mail
            </th>
            @if(User.IsInRole("Admin") || User.IsInRole("Teacher"))
            {
            <th>
                Total Points
            </th>
            <th></th>
            }        
        </tr>
    </thead>
    <tbody>
    @foreach (var user in Model.Users) {
            <tr>
            <td>
                @Html.DisplayFor(model => user.UserEntity.FirstName)
            </td>
            <td>
                @Html.DisplayFor(model => user.UserEntity.LastName) 
            </td>
            <td>
                @Html.DisplayFor(model => user.UserEntity.Email) 
            </td>
            @if(User.IsInRole("Admin") || User.IsInRole("Teacher"))
            {
                <td>
                    @user.AchievedPoints/@Html.DisplayFor(model => model.TotalPoints) 
                </td>                        
                <td>
                    <a class="btn btn-warning" asp-page="../Student/StudentCoursePoints" asp-route-studentId="@user.UserEntity.Id" asp-route-courseId="@Model.Course.Id">Details</a>
                    <a class="btn btn-warning" asp-page="./RemoveUserFromCourse" asp-route-studentId="@user.UserEntity.Id" asp-route-courseId="@Model.Course.Id">Remove</a>
                </td>
            }          
        </tr>
}
    </tbody>
</table>

<a class="btn btn-primary m-2" asp-page="./DetailsCourse" asp-route-courseId="@Model.Course.Id">Back to course</a>