@page
@model LMS.Pages.Courses.CourseEditModeModel
@{
    ViewData["Title"] = "CourseEditMode";
    var authorfullName = Model.Course.Author?.FirstName + Model.Course.Author?.LastName;
    if (string.IsNullOrEmpty(authorfullName)) 
        authorfullName = "nieznany";
}

 <div class="container-fluid">
    <div class="row border-2 border-bottom pt-2 pb-2">
        <div class="d-flex flex-row justify-content-between align-items-center">
            <div>
                <h2 class="mt-2">@Html.DisplayFor(model => model.Course.Name)</h2>
            </div>
                <div class="d-flex flex-row align-items-center">              
                <div> 
                    <a class="btn btn-secondary me-2" asp-page="./DetailsCourse" asp-route-courseId="@Model.Course.Id" style="background-color: rgba(0,0,0,.55)">Edit mode</a>
                </div>
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"
                      style="background: rgba(0,0,0,.55)">
                        Settings
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Users</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                      </ul>
                    </div>
                </div>
        </div>

    </div>
    <div class="row m-3 mb-0">
        <a class="btn btn-primary me-2 w-25" style="max-width: 200px;" asp-page="../Sections/CreateSection" asp-route-courseId="@Model.Course.Id">Create new section</a>
    </div>
    <div class="row second-row scrollable course-section-table">
   

        <div class="section-list d-flex flex-column">
        @foreach(var item in Model.Sections) {
         
            <div class="section-header p-2 mt-4 bg-dark d-flex flex-row justify-content-between">
                  <span class="fs-5 text-light" id="sectionTitle">@Html.DisplayFor(modelitem => item.Title)</span>
                  <div>
                      <a class="btn btn-success" asp-page="../Activities/CreateActivity" asp-route-courseId="@Model.Course.Id" asp-route-sectionId="@item.Id">Add activity</a>
                      <a class="btn btn-success" asp-page="../Sections/EditSection" asp-route-courseid="@Model.Course.Id" asp-route-sectionid="@item.Id">Edit</a> 
                      <a class="btn btn-danger text-light " asp-page="../Sections/DeleteSection" asp-route-id="@item.Id">Delete</a>
                  </div>                 
            </div>


                @foreach(var activity in item.Activities)
                {
                    <div class="list-group activity-item d-flex flex-column">
                    @if(activity.ActivityType == ActivityType.Quiz)
                    {
                        <a asp-page="../Activities/QuizDetails" asp-route-activityId="@activity.Id" asp-route-courseId="@Model.Course.Id" class="list-group-item list-group-item-action">@activity.Name</a>
                    }
                    else
                    {
                        <a asp-page="../Activities/ActivityDetails" asp-route-activityId="@activity.Id" asp-route-courseId="@Model.Course.Id" class="list-group-item list-group-item-action">@activity.Name</a>
                    }
                     
                    </div>
                }
                    
            }            
         </div>
    </div>
</div>
